* {
	margin: 0;
	padding: 0;
	border: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

#flex-container {
	display: flex;
	width: 100%;
	height: 100%;
}

#left-pane {
	flex: 0 0 auto;
	min-width: 200px;
	resize: horizontal;
}

#right-pane {
	flex: 1 1 auto;
	border-left: 1px solid #000000;
}

#control-pane {
	position: relative;
}

#content-pane {
	border-top: 1px solid #000000;
}


.v-scroll {
	overflow-y: scroll;
}

.content-parcel {
	position: relative:
	display: inline;
}

.content-photo-count {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	font-size: smaller;
}

.input-box {
	border: 1px solid #999999;
}

.button {
	padding: 2px;
	border: 1px solid #666666;
	border-radius: 3px;
	background-color: #0033cc;
	font-size: smaller;
	color: #ffffff;
}

#control-blog-filter span {
	padding: 2px;
	border: 1px solid #666666;
	border-radius: 3px;
	font-size: smaller;
}

.filter-include {
	background-color: #0033cc;
	color: #ffffff;
}

.filter-exclude {
	background-color: #cccccc;
	color: #333333;
}
