* {
	margin: 0;
	padding: 0;
	border: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

#flex-container {
	display: flex;
	width: 100%;
	height: 100%;
}

#left-pane {
	flex: 0 0 auto;
	min-width: 200px;
	resize: horizontal;
}

#right-pane {
	flex: 1 1 auto;
	border-left: 2px solid #000000;
}


.v-scroll {
	overflow-y: scroll;
}

.content-parcel {
	display: inline-block;
}
